mixin icon-checkbox(value, icon, name, type="checkbox", checked = false)
	+e.LABEL.icon-checkbox.icon-checkbox__()&attributes(attributes)
		+e.INPUT.input( checked=checked data-rule-required="true" value=value name=name type=type) 
		+e.SPAN.wrapper
			+e.SPAN.preview
				+icon(icon)
				+e.arrow
					+icon('roundCheck')
			+e.SPAN.text.middle 
				| !{value}